<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Isso aqui é pra pegar a fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- Isso aqui é pra ele pegar o css-->
    <link rel="stylesheet" href="{% static 'css/testelogin.css' %}">
    
    <title>Mercado Cesar</title>
</head>

<body>

    <!-- Aqui é pra quando o usuario logar e aparecer as opções (e tem a logo)-->
    <header>
        <div class="logo">
            <img src="{% static 'img/Mercado.png' %}" alt="Logo Mercado Cesar">
        </div>

        <nav class="menu">
            <a href="#">Cadastro de Produtos</a>
            <a href="#">Visualizar Estoque</a>
            <button class="loginpopup">Login</button>
        </nav>
    </header>

    <!-- Aqui é a caixa do login-->

    <main class="login">

        <div class="caixa">
            <h2>Login</h2>
		
	    {% if form.errors %}
    		<p style="color:red;">Usuário ou senha inválidos.</p>
	    {% endif %}

            <form method="post">
    		{% csrf_token %}
                <div class="input">
                    <label for="usuario">Usuário</label>
                    {{ form.username }}
                </div>

                <div class="input">
                    <label for="senha">Senha</label>
                    {{ form.password }}
                </div>

            <button type="submit" class="btn">Entrar</button>
            
            <!-- Pra ir pro cadastro-->
            <div class="link-cadastro">
                <p>Não tem uma conta? <a href="{% url 'register' %}" class="cadastro">Cadastre-se</a></p>
            </div>

            </form>
        </div>
    </main>

</body>
</html>
