{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="login">
    <div class="caixa">
        <h2>Login</h2>

        {% if form.errors %}
            <p style="color:red;">Usuário ou senha inválidos.</p>
        {% endif %}

        <form method="post">
        {% csrf_token %}
            <div class="input">
                <p>Nome de usuário</p>
                {{ form.username }}
            </div>

            <div class="input">
                <p>Senha</p>
                {{ form.password }}
            </div>
        <button type="submit" class="btn">Entrar</button>
        
        <!-- Pra ir pro cadastro-->
        <div class="link-cadastro">
            <p>Não tem uma conta? <a href="{% url 'register' %}" class="cadastro">Cadastre-se</a></p>
        </div>

        </form>
        <footer>
        &copy; 2025 Mercado Cesar. Todos os direitos reservados.
        </footer>
    </div>
</main>
{% endblock %}
