<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Isso aqui é pra pegar a fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/testelogin.css' %}">
    
    <title>Mercado Cesar</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="{% static 'img/Mercado.png' %}" alt="Logo Mercado Cesar">
        </div>

        <nav class="menu">
            <a href="#">Cadastro de Produtos</a>
            <a href="#">Visualizar Estoque</a>
            <button class="regis.popup"><a href="{% url 'login' %}" class="cadastro">Registro</a></button>
        </nav>
    </header>

    <main class="regis">

        <div class="caixa">
            <h2>Registre-se</h2>
		
	    {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
	    {% endif %}

            <form method="post">
            {% csrf_token %}
                <div class="input">
                    <p>Nome de usuário</p>
                    {{ form.username }}
                </div>

                <div class="input">
                    <p>Senha</p>
                    {{ form.password1 }}
                </div>

                <div class="input">
                    <p>Confirme a senha</p>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn">Registrar</button>
            
            <div class="link-cadastro">
                <p>Tem uma conta? <a href="{% url 'login' %}" class="Login">Login</a></p>
            </div>

            </form>
            <footer>
                &copy; 2025 Mercado Cesar. Todos os direitos reservados.
            </footer>
        </div>

    </main>
    
</body>
</html>
