{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
<main class="regis">
    <div class="caixa">
        <h2>Registre-se</h2>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form method="post">
        {% csrf_token %}
            <div class="input">
                <p>Nome de usuário</p>
                {{ form.username }}
            </div>

            <div class="input">
                <p>Senha</p>
                {{ form.password1 }}
            </div>

            <div class="input">
                <p>Confirme a senha</p>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn">Registrar</button>
        
        <div class="link-cadastro">
            <p>Tem uma conta? <a href="{% url 'login' %}" class="Login">Login</a></p>
        </div>

        </form>
        <footer>
            &copy; 2025 Mercado Cesar. Todos os direitos reservados.
        </footer>
    </div>
</main>
{% endblock %}
