{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/testelogin.css' %}">
    <link rel="stylesheet" href="{% static 'css/buscar_itens.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartao.css' %}">
    
    <title>{% block title %}Mercado Cesar{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/Mercado.png' %}" alt="Logo Mercado Cesar">
        </div>

        <nav class="menu">
            <a href="{% url 'home' %}">Início</a> 
            
            {% if user.is_authenticated %}
                <a href="{% url 'busca' %}">Buscar Produtos</a>
                <a href="{% url 'cadastrar_cartao' %}">Cadastrar Cartão</a>
                <a href="{% url 'listar_cartoes' %}">Meus Cartões</a>
                
                {% if user.is_superuser %}
                    <a href="{% url 'gerenciar_lojas' %}">Gerenciar Lojas</a>
                    <a href="{% url 'visualizar_pedidos' %}">Ver Pedidos</a>
                {% endif %}
                
                {% if user.is_staff %}
                    <a href="{% url 'estoque_baixo' %}">Estoque Baixo</a>
                    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
                {% endif %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="loginpopup" style="background: #d9534f;">Sair</button>
                </form>
            {% else %}
                <a href="{% url 'busca' %}">Produtos</a> <a href="{% url 'login' %}" class="loginpopup">Login</a>
                <a href="{% url 'register' %}" class="cadastro">Cadastro</a>
            {% endif %}
        </nav>
    </header>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/buscar_itens.js' %}"></script>
</body>
</html>