<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/testelogin.css' %}">
    
    <title>Mercado Cesar</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/Mercado.png' %}" alt="Logo Mercado Cesar">
        </div>

        <nav class="menu">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'estoque_baixo' %}">Visualizar Estoque</a>
                    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
                {% endif %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="loginpopup" style="background: #d9534f;">Sair</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="loginpopup">Login</a>
                <a href="{% url 'register' %}" class="cadastro">Cadastro</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>